@charset 'utf-8';

.hell-wrap{position:relative; height:100%; font-size:14px; background:#ededf1;}

/* header */
.header{position:fixed; top:0; left:0; width:275px; height:100%; z-index:2; background:#ededf1;}
.header:after{clear:both; display:block; content:'';}
.logo{float:left; padding:10px;}
.logo img{width:170px;}

/* panel */
.bad{position:relative; width:100%; box-sizing:border-box; margin:0 0 48px; padding:25px 0 25px  50%; font-size:40px; font-weight:700; text-align:center; color:#5247d2; border:2px solid rgba(82, 71, 210, 0.2); border-radius:8px; background:#fff url(../images/hell/bad.svg) no-repeat 40px center;}
.bad p{display:block; width:100%;  height:72px; box-sizing:border-box; line-height:72px; border-left:1px solid rgba(82, 71, 210, 0.2);}
.sheet-btn:after{clear:both; display:block; content:'';}
.sheet-btn h2{margin:0 0 20px; font-size:12px;}
.sheet-btn button{float:left; width:122px; height:122px; margin:0 0 16px; font-size:40px; color:rgba(82, 71, 210, 0.2); border:2px solid rgba(82, 71, 210, 0.2); border-radius:8px; background:#fff; transition:background .2s;}
.sheet-btn button[data-sheet="a"]{margin:0 20px 0 0;}
.sheet-btn button.active{font-weight:700; color:#fff; background:#5247d2;}

/* page */
.content{position:relative; height:100%; padding:0 480px 0 0;}
.content .inner{padding:68px 0;}

.page{position:relative; max-width:644px; width:100%; margin:0 auto; text-align:center; background:#fff;}
.page img{max-width:640px;}
.page .btn-page{margin:0; padding:0; border:0; background:none;}
.btn-area{position:absolute; bottom:26px; right:60px; width:180px;}
.btn-area .btn-page{width:180px; height:30px; overflow:hidden; margin:8px 0 0; text-indent:-9999px;}

.sheet{position:fixed; top:0; left:0; z-index:100; display:none; width:100%; height:100%; background:rgba(31, 31, 72, 0.1);}
.sheet > div{position:absolute; top:30%; left:30%; z-index:10; display:none; width:370px;}
.sheet div img{display:block; width:370px; box-shadow:20px 20px 70px 0 rgba(0, 0, 0, .2);}
.sheet .btn-wrap{position:absolute; top:50%; right:-120px; width:80px; overflow:hidden; transform:translateY(-50%);}
.sheet button{position:relative; width:80px; height:80px; overflow:hidden; padding:0; border:0; border-radius:50%; background:none;}
.sheet button svg{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.sheet .btn-sheetClose{margin:0 0 64px; border:4px solid #1f1f48; background:none;}
.sheet .btn-rotate{background:#1f1f48; background:#1f1f48;}
.sheet .landscape .btn-wrap{right:-170px;}

.go-page{position:absolute; top:0; left:50%; z-index:100;}

html[data-color="blue"] .bad{color:#000; border:0; background:#fff url(../images/hell/bad_black.svg) no-repeat 40px center;}
html[data-color="blue"] .bad p{border-left:1px solid #c4c4cf;;}
html[data-color="blue"] .sheet-btn button{color:#1f1f48; border:0; background:#4c4c6d;}
html[data-color="blue"] .sheet-btn button.active{color:#fff; background:#5247d2;}

/* mobile */
@media all and (max-width:1024px){
    .page{top:0; transform:translateX(-50%);}
}
@media all and (max-width:768px){
    .header{position:absolute; top:0; left:0; width:100%; height:60px;}
    .btn-close{position:absolute; z-index:2; width:60px; height:60px; font-size:25px; background:#1f1f48 url(../images/icon_close_all.png) no-repeat center center; background-size:18px auto}
    .btn-reset{position:absolute; top:15px; left:70px; width:50px; height:30px; margin:0; font-size:11px;}
    .sheet-btn{position:relative; top:0; height:60px; padding:0 65px 0 130px; font-size:11px; text-align:left; text-align:center; transform:translateY(0); line-height:60px;}
    .sheet-btn:before{position:absolute; top:15px; left:130px; width:1px; height:30px; content:''; background:#d1d1d3;}
    .sheet-btn span{display:none; margin:0 5px 0 0;}
    .sheet-btn button{width:42%; height:30px; margin:0 2px;}
    .bad{left:auto; right:0; width:65px; height:60px; padding:15px 0; font-size:21px; line-height:30px;}
    .bad p{border-top:0; border-left:1px solid #d1d1d3;}
    .bad img{width:30px; margin:-5px 0 0;}

    .btn-area{right:9.5vw; bottom:4vw; width:28%;}
    .btn-area .btn-page{display:block; width:100%; height:4.5vw; margin:1.3vw 0 0;}

    .content{padding:0;}
    .page{position:static; margin:0 auto; padding:70px 0 0; transform:translate(0, 0)}
    .page img{width:100%;}
    .sheet > div,
    .sheet div img{width:58vw;}
    .sheet > div{left:20%;}
    .sheet .btn-wrap{width:50px; right:-65px;}
    .sheet button{width:50px; height:50px; font-size:15px;}
    .sheet .btn-sheetClose{margin-bottom:50px; background-size:12px auto;}
    .sheet .btn-rotate{background-size:15px auto;}
    .sheet .landscape .btn-wrap{right:-105px;}
}