@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('fonts/NotoSansKR-Regular-Hestia.eot'),
    url('fonts/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('fonts/NotoSansKR-Regular-Hestia.otf') format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans '), local('NotoSans-Medium'),
    url('fonts/NotoSansKR-Medium-Hestia.eot'),
    url('fonts/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSansKR-Medium-Hestia.woff') format('woff'),
    url('fonts/NotoSansKR-Medium-Hestia.otf') format('opentype');
}
@font-face {
    font-family:'Noto Sans Korean';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('fonts/NotoSansKR-Bold-Hestia.eot'),
    url('fonts/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('fonts/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('fonts/NotoSansKR-Bold-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('fonts/fa-regular-400.eot');
    src: url('fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('fonts/fa-regular-400.woff2') format('woff2'),
    url('fonts/fa-regular-400.woff') format('woff'),
    url('fonts/fa-regular-400.ttf') format('truetype'),
    url('fonts/fa-regular-400.svg#fontawesome') format('svg');
}

/* common */
html, body{height:100%;}
body{margin:0; padding:0; font-family:'Noto Sans Korean'; font-size:16px; font-weight:400; line-height:1.2; -webkit-text-size-adjust:none;}
a,
a:hover,
a:focus{color:#000; text-decoration:none;}
hr, caption, legend{display:none;}
colgroup{background:none;}
h1, h2, h3, h4, h5, h6{font-size:100%; line-height:1.2}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, img{margin:0; padding:0; border:0;}
ul, ol, li{list-style:none;}
table{clear:both; width:100%; border-spacing:0; border:0;}
p, div, th, td{font-size:100%;}
img,input,select,textarea{vertical-align:middle;}
input.type-image, input.type-radio{border:0 none;}
input,select,textarea, button{font-family:'Noto Sans Korean'; font-size:100%;}
textarea{resize:none;}
input[type="submit"], button{cursor:pointer;}
button{outline:none;}
button::-moz-focus-inner{padding: 0; border:0;} /* firefox bug fix */
.blind{position:absolute; top:0; left:-1000px; width:0; height:0; font-size:0; line-height:0;}
.alert{display:none;}

/* main list */
.wrap{height:100%; overflow:hidden;}
.main-header h1{position:absolute; top:75px; left:115px; z-index:55;}
.main-header h1 img{width:200px;}
.btn-nav{position:absolute; top:60px; right:105px; z-index:101; width:64px; height:64px; overflow:hidden; text-indent:-9999px; border:0; border-radius:50%; background:#1f1f48;}
.btn-nav:before{position:absolute; top:25px; left:19px; width:27px; height:3px; content:''; border-radius:2px; background:#fff; transition:all .2s;}
.btn-nav:after{position:absolute; bottom:25px; left:19px; width:27px; height:3px; content:''; border-radius:2px; background:#fff; transition:all .2s;}
.btn-nav.active:before{top:30px; left:14px; width:36px; transform:rotate(45deg);}
.btn-nav.active:after{top:30px; left:14px; width:36px; transform:rotate(-45deg);}

.page-title{position:absolute; bottom:60px; left:105px; z-index:55; font-weight:700; font-family:'Montserrat'; color:#2f2f3b;}

.nav{position:fixed; top:0; right:0; z-index:100; display:none; width:100%; height:100%; text-align:center; background:#1f1f48;}
.nav ul{position:absolute; top:50%; left:50%; width:90%; transform:translate(-50%, -50%);}
.nav li{float:left; width:33.33%; font-size:56px; font-family:'Montserrat'; font-weight:700; text-align:center;}
.nav a{color:#fff; transition:color .2s;}
.nav li.active a,
.nav a:hover{color:#fac24b;}

.content{height:100%;}

.book-wrap{position:relative; height:100%; background:#f6dc64; transition:background .2s;}
.book-list{position:relative; width:50%; height:100%; margin:0 auto;}
.book-list .slide-area{height:100%; text-align:center;}
.book-list .bx-viewport{height:100%; overflow:visible !important;}
.book-list .bx-wrapper{height:100%;}
.book-list .bx-controls{position:absolute; bottom:100px; left:0; width:100%; text-align:center;}
.book-list .bx-controls a{position:relative; display:inline-block; margin:0 42px; font-weight:700; font-family:'Montserrat'; color:#2f2f3b;}
.book-list .bx-controls a:before{position:absolute; top:2px; width:16px; height:16px; box-sizing:border-box; content:''; border-radius:2px;}
.book-list .bx-prev{padding:0 0 0 34px;}
.book-list .bx-prev:before{left:0; border-top:3px solid #2f2f3b; border-left:3px solid #2f2f3b; transform:rotate(-45deg);}
.book-list .bx-next{padding:0 34px 0 0;}
.book-list .bx-next:before{right:0; border-top:3px solid #2f2f3b; border-right:3px solid #2f2f3b; transform:rotate(45deg);}
.book-list .bx-controls{bottom:60px;}
.book-item{position:relative; height:100%;}
.book-item > div{position:absolute; top:50%; left:50%; display:inline-block; padding:0 70px; transform:translate(-50%, -50%)}
.book-item img{width:480px;}
.book-item .title{position:absolute; top:60px; right:28px; display:none; width:50px; height:50px;}
.book-item .title strong{display:block; font-size:32px; font-weight:700; text-align:left; white-space:nowrap; color:#2f2f3b; transform:rotate(90deg);}
.book-item .title span{position:relative; display:inline-block; margin:0 0 0 95px; font-size:24px;}
.book-item .title span:before{position:absolute; top:14px; left:-74px; width:45px; height:2px; content:''; background:#2f2f3b;}
.book-item .provide{position:absolute; bottom:120px; left:-75px; display:none; margin:0 0 0 95px; font-size:16px; color:#9f3a14; transform:rotate(-90deg);}
.contact .inner{width:1100px; margin:0 auto; padding:290px 0 0; font-size:18px;}
.intro-txt{margin:0 0 100px; font-size:28px; line-height:1.8;}
.contact-info dl{float:left; width:50%; font-weight:700;}
.contact-info dt{margin:0 0 20px; font-family:'Montserrat';}
.contact-info dl:last-child dd{font-weight:400; line-height:1.8;}

/* scrollbar */
.mCustomScrollbar{-ms-touch-action: pinch-zoom; touch-action: pinch-zoom;}
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{-ms-touch-action: auto; touch-action: auto;}
.mCustomScrollBox{position:relative; overflow:hidden; height:100%; width:100%; margin:0 auto; outline:none; direction:ltr;}
.mCSB_container{overflow:hidden; width:auto; height:auto;}
.mCSB_scrollTools{position:absolute; left:auto; top:0; right:6px; bottom:0; width:12px; height:auto; }
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute; top:0; left:0; bottom:0; right:0; height:auto; margin:8px 0;}
.mCSB_scrollTools .mCSB_draggerRail{width:6px; height:100%; margin:0 auto;}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer; width:100%; height:30px; z-index:1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position:relative; width:6px; height:100%; margin:0 auto; text-align:center; border-radius:3px; background:rgba(82,71,210,0.2); transition:all .2s}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{width:10px; border-radius:6px;}

/*.panel .mCSB_scrollTools{width:8px;}
.panel .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px;}
.panel .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{width:8px; border-radius:4px;}*/

/* book detail */
.btn-close{position:fixed; top:36px; left:28px; z-index:10; width:64px; height:64px; overflow:hidden; text-indent:-9999px; border-radius:50%; background:rgba(31,31,72,0.2);}
.btn-close:before{position:absolute; top:50%; left:50%; width:25px; height:3px; content:''; border-radius:2px; background:#fff; transform:translate(-50%, -50%) rotate(45deg);}
.btn-close:after{position:absolute; top:50%; left:50%; width:25px; height:3px; content:''; border-radius:2px; background:#fff; transform:translate(-50%, -50%) rotate(-45deg);}

.header .title{display:none;}
.btn-panel{display:none;}
.panel{position:fixed; top:0; right:0; width:480px; height:calc(100% - 150px); box-sizing:border-box; color:#5247d2; background:#fff; transition:all .2s;}
.panel .inner{padding:68px 120px 0 96px;}
.setting{position:fixed; bottom:0; right:0; width:480px; height:150px; box-sizing:border-box; background:#fff;}
.setting:before{position:absolute; top:5px; left:0; width:100%; height:1px; content:''; background:rgba(82,71,210,0.2);}
.setting .btn{position:relative; margin:30px 0 0 5vw; width:264px; height:50px;}
.setting .btn-option{position:relative; width:100%; height:50px; padding:0 0 0 46px; color:#fff; text-align:left; line-height:50px; border:0; border-radius:8px; background:#5247d2;}
.setting .btn-option svg{position:absolute; top:15px; left:16px; margin:0 10px 0 0;}
.setting .btn-option svg path,
.setting .btn-option svg rect{fill:#fff;}
.setting .saving{position:absolute; top:50%; right:16px; padding:0 14px 0 0; color:#fff; transform:translateY(-50%);}
.setting .arrow{position:absolute; top:3px; right:0;}
.setting .arrow path{fill:#fff;}
.btn-reset{width:100%; height:50px; margin:0 0 45px; color:#fff; border:0; border-radius:8px; background:#5247d2;}
.modal-setting{position:fixed; top:0; left:0; z-index:100; display:none; width:100%; height:100%; color:#000;}
.modal-setting .modal-inner{position:absolute; top:50%; left:50%; width:512px; height:566px; box-sizing:border-box; padding:35px 36px 64px; border-radius:16px; background:#fff; transform:translate(-50%, -50%);}
.modal-setting .title-area{margin:0 0 38px;}
.modal-setting h1{font-size:24px; font-weight:500; text-align:center;}
.modal-setting .btn-modalClose{position:absolute; top:42px; left:36px; width:20px; height:20px;}
.modal-setting .btn-modalClose path{fill:#1f1f48;}
.modal-setting h2{margin:0 0 24px; font-size:14px; font-weight:400; color:#9b9bad;}
.modal-setting .color-select{margin:0 0 48px; padding:0 0 48px; text-align:center; border-bottom:1px solid rgba(82,71,210,0.2);}
.modal-setting .color-select > div{display:inline-block;}
.modal-setting .color-select button{width:80px; height:80px; margin:0 30px 20px; font-weight:500; box-sizing:border-box; border-radius:8px;}
.modal-setting .color-select button[data-color="white"]{color:#5247d2; border:2px solid #5247d2; background:#fff;}
.modal-setting .color-select button[data-color="blue"]{color:#fff; border:0; background:#1f1f48;}
.modal-setting .check{position:relative; display:block; width:24px; height:24px; box-sizing:border-box; margin:0 auto; border:2px solid rgba(82,71,210,0.2); border-radius:50%; background:#fff;}
.modal-setting .check svg{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.modal-setting .check path{fill:#fff;}
.modal-setting .active .check{background:#5247d2;}
.modal-setting .save{font-size:14px;}
.modal-setting .autosave{margin:0 0 16px;}
.modal-setting .autosave:after{clear:both; display:block; content:'';}
.modal-setting .autosave p{float:left; font-weight:700;}
.modal-setting .autosave div{float:right;}
.modal-setting .reset:after{clear:both; display:block; content:'';}
.modal-setting .reset p{float:left; margin:12px 0 0; color:#ddd;}
.modal-setting .btn-reset{float:right; width:103px; height:40px; color:#fff; border-radius:20px; border:0; background:#5247d2;}

html[data-color="blue"] .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#5c58bd;}
html[data-color="blue"] .panel{color:#fff; background:#1f1f48;}
html[data-color="blue"] .panel h2{color:#5c58bd;}
html[data-color="blue"] .setting{background:#1f1f48;}
html[data-color="blue"] .btn-option{background:#5c58bd;}


@media all and (min-width:1921px){
  .book-item img{width:700px;}
}

@media all and (max-width:1200px){
  .main-header h1{top:55px; left:65px;}
  .btn-nav{top:40px; right:65px;}
  .nav li{font-size:38px;}
  .page-title{bottom:55px; left:65px;}
  .book-item .title{top:210px; right:-145px; font-size:25px;}
  .book-item .title span{margin:0 0 0 65px; font-size:18px;}
  .book-item .title span:before{left:-53px; width:35px;}
  .book-item .provide{left:-90px; bottom:90px;}
  .book-item img{width:300px;}

  .contact .inner{width:100%; box-sizing:border-box; padding:200px 65px 0; font-size:18px;}
  .intro-txt{font-size:18px;}
  .contact-info dd br{display:none;}

  .btn-close{top:15px; width:40px; height:40px;}
  .btn-close:before,
  .btn-close:after{width:18px;}

  .panel{width:25vw; height:calc(100% - 100px);}
  .panel .inner{padding:1.6667vw 1.6667vw 0 1.6667vw;}
  .setting{width:25vw; height:100px; padding:27px 1.6667vw 0 1.6667vw;}
  .setting .btn-option{font-size:12px;}
  .setting .btn{width:100%; margin:0;}
  .setting .saving{right:12px; font-size:10px;}
  .setting .arrow{top:1px;}

}

@media all and (max-width:768px){
  .content.list{overflow:hidden;}
  .page-title{display:none;}
  .main-header h1{top:30px; left:20px;}
  .main-header h1 img{width:130px;}
  .btn-nav{top:22px; right:20px; width:40px; height:40px;}
  .btn-nav:before{top:15px; left:12px; width:16px; height:2px;}
  .btn-nav:after{bottom:16px; left:12px; width:16px; height:2px;}
  .btn-nav.active:before{top:19px; left:10px; width:20px;}
  .btn-nav.active:after{top:19px; left:10px; width:20px;}
  .nav li{float:none; display:block; width:100%; margin:0 0 50px; font-size:26px;}

  .book-list{width:70%;}
  .book-list .bx-controls{bottom:40px;}
  .book-list .bx-controls a{margin:0 20px; font-size:14px;}
  .book-list .bx-prev{padding:0 0 0 20px;}
  .book-list .bx-prev:before{width:12px; height:12px;}
  .book-list .bx-prev:after{width:12px; height:12px;}
  .book-list .bx-next{padding:0 20px 0 0;}
  .book-list .bx-next:before{width:12px; height:12px;}
  .book-list .bx-next:after{width:12px; height:12px;}
  .book-item img{width:230px;}
  .book-item .info{height:66px; padding:20px 0 0; text-align:center;}
  .book-item .title{position:static; font-size:18px; transform:rotate(0);}
  .book-item .title span{margin:0; font-size:18px;}
  .book-item .title span:before{position:static; width:auto; content:','; background:none;}
  .book-item .provide{position:static; margin:10px 0 0; font-size:12px; transform:rotate(0);}

  .contact .inner{padding:80px 20px 0; font-size:16px;}
  .intro-txt{margin:0 0 30px; font-size:16px;}
  .contact-info dl{float:none; width:100%; margin:0 0 30px;}
  .contact-info dt{margin:0 0 10px;}

  .header{position:fixed; top:0; left:0; z-index:10; width:100%; height:100px; background:#1f1f48;}
  .header .title{display:block; font-size:16px; font-weight:400; text-align:center; line-height:48px; color:#fff;}
  .btn-close{top:16px; left:16px; width:16px; height:16px; border-radius:0; background:none;}
  .btn-close:before,
  .btn-close:after{height:2px;}

  .setting{top:0; bottom:auto; z-index:11; width:auto; height:auto; padding:0; background:none;}
  .setting:before{display:none;}
  .setting .btn{height:auto;}
  .setting .btn-option{top:14px; right:14px; width:20px; height:20px; overflow:hidden; padding:0; line-height:20px; color:transparent; background:none;}
  .setting .btn-option svg{position:static;}
  .setting .saving{display:none;}
  .modal-setting{width:100%; height:100%; background:rgba(31, 31, 72, 0.6);;}
  .modal-setting .modal-inner{width:90%; height:auto; padding:0 20px; background:#fff;}
  .modal-setting h1{margin:17px 0 25px; font-size:20px;}
  .modal-setting h2{font-size:16px;}
  .modal-setting .btn-modalClose{top:24px; left:24px; width:16px; height:16px;}
  .modal-setting .btn-modalClose svg{width:100%; height:100%;}
  .modal-setting .color-select{margin:0 0 20px; padding:0 0 20px;}
  .modal-setting .color-select button{margin:0 15px 15px;}
  .modal-setting .check{width:32px; height:32px;}
  .modal-setting .check svg{width:15px; height:auto;}
  .modal-setting .save{font-size:16px;}
  .modal-setting .reset p{float:right;}
  .modal-setting .btn-reset{clear:right; margin:16px 0 30px;}

  html[data-color="blue"] .btn-option{background:none;}
}

@media all and (orientation:landscape) and (max-width:767px){
  .alert{position:fixed; top:0; left:0; z-index:1000; width:100%; height:100%; display:block; background:#1f1f48;}
  .alert p{position:absolute; top:50%; left:50%; font-size:25px; color:#fff; transform:translate(-50%, -50%);}
}