@charset 'utf-8';

/* content */
.ys-wrap{height:100%; font-size:14px; background:#ededf1;}
.btn-close{position:fixed; top:36px; left:28px; z-index:10; width:64px; height:64px; overflow:hidden; text-indent:-9999px; border-radius:50%; background:rgba(31,31,72,0.2);}
.btn-close:before{position:absolute; top:50%; left:50%; width:25px; height:3px; content:''; border-radius:2px; background:#fff; transform:translate(-50%, -50%) rotate(45deg);}
.btn-close:after{position:absolute; top:50%; left:50%; width:25px; height:3px; content:''; border-radius:2px; background:#fff; transform:translate(-50%, -50%) rotate(-45deg);}
.content{position:relative; width:100%; height:100%; box-sizing:border-box; overflow:hidden; padding-right:480px;}
.page{position:relative; max-width:644px; width:100%; margin:68px auto; text-align:center; background:#fff; /*transform:translate(-50%, -50%);*/}
.page .btn-page{margin:0; padding:0; border:0; background:none;}
.page .btn-area{position: absolute; bottom:24px; left:50%; width:76%; transform:translateX(-50%);}
.page .btn-area:after{clear:both; display:block; content:'';}
.page .btn-area .btn-page{height:30px; overflow:hidden; text-indent:-9999px;}
.page .btn-area .btn-single{float:right; width:150px;}
.page .btn-area .btn-half{float:left; width:49%;}
.page .btn-area .btn-half + .btn-half{float:right;}
.page .btn-area .btn-full{width:100%;}
.page img{width:100%; max-width:800px;}
.go-page{position:absolute; top:0; left:0; z-index:100;}

/* status */
.panel .inner > div{margin:0 0 45px;}
.panel h2{margin:0 0 24px; font-size:12px;}
.panel h3{font-size:14px; font-weight:400;}
.panel .status:after{clear:both; display:block; content:'';}
.panel .status > div{float:left; width:50%;}
.panel .status > div > div{position:relative;}
.panel .status input[type="text"]{width:68px; height:80px; padding:0; font-size:56px; font-weight:700; text-align:right; color:#5247d2; border:0; background:none;}
.panel .status button{position:absolute; right:42px; width:12px; height:12px; overflow:hidden; text-indent:-9999px; border:0; background:none;}
.panel .status .btn-plus{top:26px;}
.panel .status .btn-plus:before{position:absolute; bottom:0; left:0; width:0; height:0; content:''; border:6px solid transparent; border-bottom:9px solid #958cff;}
.panel .status .btn-minus{bottom:19px;}
.panel .status .btn-minus:before{position:absolute; top:0; left:0; width:0; height:0; content:''; border:6px solid transparent; border-top:9px solid #958cff;}
.item-list dl{position:relative; height:38px; margin:0 0 14px; padding:0 0 0 64px;}
.item-list dl:after{clear:both; display:block; content:'';}
.item-list dt{position:absolute; top:0; left:0; width:64px; height:38px; line-height:38px;}
.item-list dd{width:100%;}
.item-list .item{display:block; width:100%; height:38px; box-sizing:border-box; padding:0 16px; line-height:34px; cursor:default; border:2px solid rgba(82, 71, 210, 0.2); border-radius:4px; background:#fff;}
.item-list .select{position:relative;}
.item-list .select span{display:block; height:38px; box-sizing:border-box; padding:0 16px; line-height:34px; cursor:default; border:2px solid rgba(82, 71, 210, 0.2); border-radius:4px; background:#fff;}
.item-list .select span:after{position:absolute; top:16px; right:16px; width:0; height:0; content:''; border:6px solid transparent; border-top:9px solid #5c58bd;}
.item-list .option{position:absolute; top:38px; left:0; z-index:2; display:none; width:100%; box-sizing:border-box; padding:5px 0; border:1px solid rgba(82, 71, 210, 0.2); border-radius:4px; background:#fff;}
.item-list .option li{padding:4px 16px; line-height:1.5; cursor:pointer;}
.item-list .option li:hover{background:rgba(82,71,210,0.1);}
.item-list .etc{height:auto; margin:20px 0 0; padding:0;}
.item-list .etc dt{overflow:hidden; text-indent:-9999px;}
.item-list .etc dd{width:100%; min-height:115px; box-sizing:border-box; padding:8px 16px; border:2px solid rgba(82, 71, 210, 0.2); border-radius:4px; background:#fff;;}
.check-wrap:after{clear:both; display:block; content:'';}
.check .etc dt{float:none; width:100%; margin:0 0 5px;}
.check .etc dd{float:none; width:100%; min-height:100px; box-sizing:border-box; padding:8px; line-height:1.6; border:1px solid #ccc; background:#fff;}
.check .checkbox{position:relative; float:left; width:40px; height:40px; margin:0 4px 4px 0; cursor:pointer;}
.check .checkbox input[type="checkbox"]{position:absolute; top:0; left:0; margin:0; padding:0; opacity:0;}
.check .checkbox label{display:block; width:40px; height:40px; box-sizing:border-box; font-weight:500; color:rgba(82,71,210,0.2); line-height:36px; text-align:center; cursor:pointer; border-radius:8px; border:2px solid rgba(82, 71, 210, 0.2);}
.check .checkbox input[type="checkbox"]:checked+label{font-weight:700; color:#fff; border:2px solid #5247d2; background:#5247d2;}

html[data-color="blue"] .panel .status input[type="text"]{color:#fff;}
html[data-color="blue"] .panel .status .btn-plus:before{border-bottom:9px solid #5c58bd;}
html[data-color="blue"] .panel .status .btn-minus:before{border-top:9px solid #5c58bd;}
html[data-color="blue"] .item-list .item,
html[data-color="blue"] .item-list .select span,
html[data-color="blue"] .item-list .etc dd{color:#1f1f48; border:0;}
html[data-color="blue"] .item-list .option li{color:#1f1f48;}
html[data-color="blue"] .check .checkbox label{color:rgba(255, 255, 255, 0.2); border-color:rgba(255, 255, 255, 0.2);}
html[data-color="blue"] .check .checkbox input[type="checkbox"]:checked+label{border-color:#5c58bd; background:#5c58bd;}